@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif
}

::-webkit-scrollbar {
    width: 4px;
}

/* Desain thumb (pegangan) scrollbar */
::-webkit-scrollbar-thumb {
    background: white; /* Warna latar pegangan */
    /* Sudut pegangan */
}

/* Desain ketika cursor di atas scrollbar */
::-webkit-scrollbar-thumb:hover {
    background: whitesmoke; /* Warna latar pegangan saat hover */
}

/* Desain track (jalur) scrollbar */
::-webkit-scrollbar-track {
    background: transparent; /* Warna latar jalur scrollbar */
}
.translate {
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes fade_botoom {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

#card {
    animation: fade_botoom 1s ease 0s 1 normal forwards;
}
#card2 {
    animation: fade_botoom 1.5s ease 0s 1 normal forwards;
}
#card3 {
    animation: fade_botoom 2s ease 0s 1 normal forwards;
}
#tombol {
	animation: fade_botoom 1s ease 0s 1 normal forwards;
}
#tombol2 {
	animation: fade_botoom 2s ease 0s 1 normal forwards;
}

@keyframes fade_center {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

#judul {
    animation: fade_center 2s ease 0s 1 normal forwards;
}
#judul2 {
	animation: fade_center 2.8s ease 0s 1 normal forwards;
}
#orang {
	animation: fade_center 2.8s ease 0s 1 normal forwards;
}

@keyframes fade_top {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

#gambar {
    animation: fade_top 2s ease 0s 1 normal forwards;
}
#gambar2 {
    animation: fade_top 2.5s ease 0s 1 normal forwards;
}
#text {
    animation: fade_top 2.8s ease 0s 1 normal forwards;
}
#log {
    animation: fade_top 2s ease 0s 1 normal forwards;
}